<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1709shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditProductServlet</display-name>
    <servlet-name>ShowEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditProductServlet</servlet-name>
    <url-pattern>/showEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductServlet</display-name>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <url-pattern>/adminSearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageProductServlet</display-name>
    <servlet-name>PageProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.PageProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageProductServlet</servlet-name>
    <url-pattern>/pageProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCheckedProductServlet</display-name>
    <servlet-name>AdminDeleteCheckedProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteCheckedProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCheckedProductServlet</servlet-name>
    <url-pattern>/adminDeleteCheckedProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.qianfeng.web.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductToCarServlet</display-name>
    <servlet-name>AddProductToCarServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddProductToCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCarServlet</servlet-name>
    <url-pattern>/addProductToCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCarServlet</display-name>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/shoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCheckedShoppingCarProductServlet</display-name>
    <servlet-name>DeleteCheckedShoppingCarProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.DeleteCheckedShoppingCarProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCheckedShoppingCarProductServlet</servlet-name>
    <url-pattern>/deleteCheckedShoppingCarProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProductServlet</display-name>
    <servlet-name>BuyProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.BuyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProductServlet</servlet-name>
    <url-pattern>/buyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayMoneyServlet</display-name>
    <servlet-name>PayMoneyServlet</servlet-name>
    <servlet-class>com.qianfeng.web.PayMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayMoneyServlet</servlet-name>
    <url-pattern>/payMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPageProductServlet</display-name>
    <servlet-name>AdminPageProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminPageProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageProductServlet</servlet-name>
    <url-pattern>/adminPageProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>autoLoginFilter</display-name>
    <filter-name>autoLoginFilter</filter-name>
    <filter-class>com.qianfeng.web.filter.autoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductServlet2</display-name>
    <servlet-name>AdminSearchProductServlet2</servlet-name>
    <servlet-class>com.qianfeng.web.AdminSearchProductServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductServlet2</servlet-name>
    <url-pattern>/adminSearchProductServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageSearchProductServlet</display-name>
    <servlet-name>PageSearchProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.PageSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSearchProductServlet</servlet-name>
    <url-pattern>/pageSearchProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.qianfeng.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheackRegistServlet</display-name>
    <servlet-name>CheackRegistServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CheackRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheackRegistServlet</servlet-name>
    <url-pattern>/cheackRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_detailServlet</display-name>
    <servlet-name>Order_detailServlet</servlet-name>
    <servlet-class>com.qianfeng.web.Order_detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_detailServlet</servlet-name>
    <url-pattern>/order_detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.qianfeng.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/orderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_historyDetailServlet</display-name>
    <servlet-name>Order_historyDetailServlet</servlet-name>
    <servlet-class>com.qianfeng.web.Order_historyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_historyDetailServlet</servlet-name>
    <url-pattern>/order_historyDetailServlet</url-pattern>
  </servlet-mapping>
</web-app>